<template>
        <v-layer>
          <tile
            v-for="(tile, index) in tiles"
            :key="index"
            v-bind="tile" />
        </v-layer>
</template>

<script>
import Tile from "~/components/tile.vue";

export default {
  components: {
    Tile
  },
  props: {
    mapLayer: {
      type: Object,
      required: true
    }
  },
  computed: {
    map() {
      return this.mapLayer.map;
    },
    tiles() {
      if (!this.map || this.map.isLoadingg) {
        return [];
      }

      const scalingFactor = 0.5;

      const tiles = [];
      for (let rowIndex = 0; rowIndex < this.mapLayer.height; ++rowIndex) {
        for (
          let columnIndex = 0;
          columnIndex < this.mapLayer.width;
          ++columnIndex
        ) {
          const tileId = this.mapLayer.tileIds[
            rowIndex * this.mapLayer.width + columnIndex
          ];
          const tileset = this.map.tilesets.find(tileset =>
            tileset.isInTileIdRange(tileId)
          );
          const imageUrl = tileset.image.source;
          const tileDimensions = [
            tileset.tileX(tileId) / scalingFactor,
            tileset.tileY(tileId) / scalingFactor,
            tileset.tilewidth / scalingFactor,
            tileset.tileheight / scalingFactor
          ];

          tiles.push({
            x: columnIndex * tileset.tilewidth,
            y: rowIndex * tileset.tileheight,
            scalingFactor,
            imageUrl,
            tileDimensions
          });
        }
      }

      return tiles;
    }
  }
};
</script>
