<template>
  <v-sprite :config="config" />
</template>

<script>
export default {
  props: {
    x: {
      type: Number,
      required: true
    },
    y: {
      type: Number,
      required: true
    },
    imageUrl: {
      type: String,
      required: true
    },
    tileDimensions: {
      type: Array,
      required: true
    },
    scalingFactor: {
      type: Number,
      required: false,
      default: 1
    }
  },
  computed: {
    config() {
      const image = process.browser ? new Image() : {};
      image.src = this.imageUrl;

      return {
        x: this.x,
        y: this.y,
        image,
        animation: "tile",
        animations: {
          tile: this.tileDimensions
        },
        scaleX: this.scalingFactor,
        scaleY: this.scalingFactor
      };
    }
  }
};
</script>
