<template>
  <section class="container">
    <div>
      <h1 class="title">
        konva-tiles
      </h1>
      <h2 class="subtitle">
        Using Vue Konva for tiled maps
      </h2>

      <p v-show="isLoading">Map is loading...</p>

      <v-stage
        ref="stage"
        :config="stageConfig"
        v-show="!isLoading"
      >
        <layer
          v-for="(mapLayer, index) in layers"
          :key="index"
          :map-layer="mapLayer" />
      </v-stage>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import VueKonva from "vue-konva";
import ResourceLoader from "~/lib/resource-loader";
import Tiledmap from "~/lib/tiledmap";
import Layer from "~/components/layer.vue";

Vue.use(VueKonva);

export default {
  components: {
    Layer
  },
  computed: {
    isLoading() {
      return !this.map || this.map.isLoading;
    },
    layers() {
      if (this.isLoading) {
        return [];
      }

      return this.map.layers;
    },
    stageConfig() {
      if (!this.map) {
        return {
          width: 0,
          height: 0
        };
      }

      return {
        width: this.map.tilewidth * this.map.width,
        height: this.map.tileheight * this.map.height
      };
    }
  },
  data() {
    if (process.browser) {
      const resourceLoader = new ResourceLoader();
      resourceLoader.load("/desert.tmx").then(({ url, data }) => {
        this.map = Tiledmap.parse(url, data, resourceLoader);
      });
    }

    return {
      map: null
    };
  }
};
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
